<h2>
  <%= DAYS_OF_WEEK[@game.start_time.wday] %>, <%= MONTHS[@game.start_time.month - 1] %> <%= @game.start_time.day %>
</h2>

<h3>
  <a href="/groups/<%= @game.group_id %>">
    <%= @game.group_name %>
  </a>
</h3>

<p>
  Location: <%= @game.location %>
  <br>
  Attendees: <%= @game.filled_slots %> / <%= @game.total_slots %>
  <br>
  Fee: $<%= @game.fee %>
  <br>
</p>

<p>
  <%= @game.notes %>
</p>

<table>
  <tr>
    <th>Name</th>
    <th>Fee Paid?</th>
  </tr>
  <% @game.players.each do |player| %>
  <tr>
    <td><%= player[:name] %><td>
    <td><%= player[:fee_paid] %></td>
  </tr>
  <% end %>
</table>

<% content_for :header_links do %>
  <a href="/game_list">Games</a>
  <a href="/group_list">Groups</a>
<% end %>
