<h2>Upcoming Games</h2>

<ul id="red-list">
  <% @game_list.each do |game| %>
    <a href="/games/<%= game.id %>">
      <li>
        <h2><%= DAYS_OF_WEEK[game.start_time.wday] %>, <%= MONTHS[game.start_time.month - 1] %> <%= game.start_time.day %></h2>
        <p>
          &#128100;<%= game.filled_slots %> / <%= game.total_slots %>
        </p>
        <br>
        <h3><%= game.group_name %></h3>
        <%= game.location %>
     </li>
    </a>
  <% end %>
</ul>

<% content_for :login_links do %>
  <% if session[:logged_in] %>
    <em>&#128075;<%= session[:username] %></a></em>
    <form class="inline" method="post" action="/logout">
      <button type="submit">Sign Out</button>
    </form>
  <% else %>
    <form method="get" action="/login">
      <button type="submit">Sign In</button>
    </form>
  <% end %>
<% end %>

<% content_for :header_links do %>
  <ul>
    <li>
      <a class="orange-link" href="/group_list">&#128101; Groups</a>
    </li>

    <% if session[:logged_in] %>
      <li>
        <a class="orange-link" href="/players/<%= session[:player_id] %>">&#128100; Profile</a>
      </li>
    <% end %>
  </ul>
<% end %>
