<label for="hour_select">Start time:</label>

<select name="hour" id="hour_select">
  <% (1..HOUR_HAND_MAX).each do |hour| %>
    <option value="<%= hour %>" <%= select_hour(hour) %>><%= hour %></option>
  <% end %>
</select>

<select name="am_pm" id="am_pm_select">
  <option value="am" <%= select_am %>>AM</option>
  <option value="pm" <%= select_pm %>>PM</option>
</select>

<label for="duration_select">Duration (hours):</label>
<select name="duration" id="duration_select">
  <% (1..MAX_DURATION_HOURS).each do |duration| %>
    <option value="<%= duration %>" <%= select_duration(duration) %>><%= duration %></option>
  <% end %>
</select>

<br>

<label for="location">Location:</label>
<input name="location" placeholder="Location name and address" type="text" value="<%= params[:location] || @game&.location %>">

<label for="total_slots">Slots:</label>
<input name="total_slots" placeholder="Number of total slots" type="text" value="<%= params[:total_slots] || @game&.total_slots %>">

<label for="fee">Fee:</label>
<input name="fee" placeholder="Cost per player in whole dollars" type="text" value="<%= params[:fee] || @game&.fee %>">

