<h2>
  <%= @group.name %>
</h2>

<% if @game.template %>
  <a class="orange-link" href="/groups/<%= @group.id %>/schedule">&#128197; Back to Week View</a>

  <h2>
    &#128198; <%= day_of_week_to_name(@day_of_week) %>
  </h2>
<% end %>

<form action="/games/<%= @game_id %>/edit" method="post">
  <% if !@game.template %>
    <label for="date">Date:</label>
    <input id="date" type="date" name="date" min="<%= todays_date %>" value="<%= params[:date] || select_date(@game.start_time) %>">
  <% end %>

  <%== yield %>
  <button type="submit">Save</button>
</form>
