<h2>
  <%= DAYS_OF_WEEK[@game.start_time.wday] %>, <%= MONTHS[@game.start_time.month - 1] %> <%= @game.start_time.day %>
</h2>

<h3>
  <a href="/groups/<%= @game.group_id %>">
    <%= @game.group_name %>
  </a>
</h3>

<p>
  Location: <%= @game.location_name %>
  <br>
  Attendees: <%= @game.filled_slots %> / <%= @game.total_slots %>
  <br>
  Fee: $<%= @game.fee %>
  <br>
</p>

<p>
  <%= @game.notes %>
</p>

<table>
  <tr>
    <th>Name</th>
    <th><a href="https://www.dropbox.com/s/vmk48yybqhd35dj/rr-rating-reformatted.pdf?dl=0">Rating</a></th>
    <th>Payment Confirmed?</th>
  </tr>
  <% @game.players.each do |player| %>
  <tr>
    <td>
      <% unless player.username.nil? %>
        <a href="/players/<%= player.id %>">
      <% end %>
          <%= player.name %>
      <% unless player.username.nil? %>
        </a>
      <% end %>
    <td>
    <td><%= player.rating %></td>
    <td><%= player.fee_paid %></td>
  </tr>
  <% end %>
</table>

<% unless @game.filled_slots >= @game.total_slots %>
  <form action="/games/<%= @game_id %>/players/add" method="post">
    <% unless session[:logged_in] %>
      <dl>
        <dt>
          <label for="player_name">Sign up for this game:</label>
        </dt>
        <dd>
          <input name="player_name" placeholder="Your name" type="text">
        </dd>
      </dl>
    <% end %>

    <% if session[:logged_in] && !already_signed_up? %>
      <button type="submit">Sign up</button>
    <% end %>
  </form>

  <% if session[:logged_in] && already_signed_up? %>
    <form class="inline" method="post" action="/games/<%= @game.id %>/players/remove">
      <button type="submit">Remove me</button>
    </form>
  <% end %>

  <p>
    <% unless session[:logged_in] %>
      <a href="/register">Register an account to manage your RSVP.</a>
    <% end %>
  </p>
<% end %>

<% content_for :header_links do %>
  <div>
    <% if session[:logged_in] %>
      <em>Signed in as <%= session[:username] %>.</em>
      <form class="inline" method="post" action="/logout">
        <button type="submit">Sign Out</button>
      </form>
    <% else %>
      <form method="get" action="/login">
        <button type="submit">Sign In</button>
      </form>
    <% end %>
  </div>

  <a href="/game_list">Games</a>
  <a href="/group_list">Groups</a>
<% end %>
