<h2>
  &#128198; <%= DAYS_OF_WEEK[@game.start_time.wday] %>, <%= MONTHS[@game.start_time.month - 1] %> <%= @game.start_time.day %>
</h2>

<h2>
  &#128340; <%= @game.start_time.strftime("%l:%M%p") %> - <%= (@game.start_time + @game.duration * 60 * 60).strftime("%l:%M%p") %>
</h2>

<h2>
  &#127758; <%= @game.location %>
</h2>

<% if game_organizer?(@game.id, session[:player_id]) %>
  <form class="inline" method="post" action="/games/<%= @game.id %>/delete">
      <button type="submit">Delete game</button>
    </form>
<% end %>

<br>

<h3>
  <a class="orange-link" href="/groups/<%= @game.group_id %>">
    <%= @game.group_name %>
  </a>
</h3>

<p>
  <br>
  Attendees: <%= @game.filled_slots %> / <%= @game.total_slots %>
  <br>
  Fee: $<%= @game.fee %>
  <br>
</p>

<p>
  <%= @game.notes %>
</p>

<p>
  <% if session[:logged_in] && game_organizer?(@game.id, session[:player_id]) %>
      <form class="inline" method="post" action="/games/<%= @game.id %>/players/confirm_all">
        <button type="submit">Confirm All</button>
      </form>
      <form class="inline" method="post" action="/games/<%= @game.id %>/players/unconfirm_all">
        <button type="submit">Un-confirm All</button>
      </form>
  <% end %>
</p>

<table>
  <tr>
    <th><!-- Remove col --></th>
    <th>Name</th>
    <th><a class="orange-link" href="https://www.dropbox.com/s/vmk48yybqhd35dj/rr-rating-reformatted.pdf?dl=0">Rating</a></th>
    <th>Paid?</th>
    <th><!-- Confirm / Un-confirm col --></th>
  </tr>

  <% @game.players.each do |player| %>
  <tr>
    <td>
      <% if session[:logged_in] && game_organizer?(@game.id, session[:player_id]) %>
        <form class="inline" method="post" action="/games/<%= @game.id %>/players/<%= player.id %>/remove">
          <button type="submit">&#9940;</button>
        </form>
      <% end %>
    </td>

    <td align="center">
      <% unless player.username.nil? %>
        <a class="orange-link" href="/players/<%= player.id %>">
      <% end %>
          <%= player.name %>
      <% unless player.username.nil? %>
        </a>
      <% end %>
    </td>

    <td align="center"><%= player.rating %></td>

    <td align="center">
      <% if player.fee_paid %>
        &#9989;
      <% else %>
      <% end %>
    </td>

    <td>
      <% if session[:logged_in] && game_organizer?(@game.id, session[:player_id]) && player.fee_paid %>
        <form class="inline" method="post" action="/games/<%= @game.id %>/players/<%= player.id %>/unconfirm_paid">
          <button type="submit">&#10060;</button>
        </form>
      <% end %>

      <% if session[:logged_in] && game_organizer?(@game.id, session[:player_id]) && !player.fee_paid %>
        <form class="inline" method="post" action="/games/<%= @game.id %>/players/<%= player.id %>/confirm_paid">
          <button type="submit">&#10004;</button>
        </form>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>

<br>

<% unless @game.filled_slots >= @game.total_slots %>
  <form action="/games/<%= @game_id %>/players/add" method="post">
    <% unless session[:logged_in] %>
      <dl>
        <dt>
          <label for="player_name">Sign up for this game:</label>
        </dt>
        <dd>
          <input name="player_name" placeholder="Your name" type="text">
        </dd>
      </dl>
    <% end %>

    <% if session[:logged_in] && !already_signed_up?(@game_id, session[:player_id]) %>
      <button type="submit">Sign up</button>
    <% end %>
  </form>

  <% if session[:logged_in] && already_signed_up?(@game_id, session[:player_id]) %>
    <form class="inline" method="post" action="/games/<%= @game.id %>/players/remove">
      <button type="submit">Remove me</button>
    </form>
  <% end %>

  <p>
    <% unless session[:logged_in] %>
      <a class="orange-link" href="/register">Register an account to manage your RSVP.</a>
    <% end %>
  </p>
<% end %>
