<h2>
  <%= @group.name %>
</h2>
<p>
  <%= @group.about %>
</p>

<h2>Upcoming Games</h2>
<p>
  <ul>
    <% @group_games.each do |game| %>
      <a href="/games/<%= game.id %>">
        <li>
          <h2><%= DAYS_OF_WEEK[game.start_time.wday] %>, <%= MONTHS[game.start_time.month - 1] %> <%= game.start_time.day %></h2>
          <h3><%= game.group_name %></h3>
          <p>
            Location: <%= game.location_name %>
            <br>
            Attendees: <%= game.filled_slots %> / <%= game.total_slots %>
            <br>
            Fee: $<%= game.fee %>
          </p>
      </li>
      </a>
    <% end %>
  </ul>
</p>

<h2>Members</h2>
<p>
  <ol>
    <% @group_players.each do |player| %>
      <li>
        <a href="/players/<%= player.id %>">
          <%= player.name %>
        </a>
        
        <% if player.is_organizer %>
          👑
        <% end %>
      </li>
    <% end %>
  </ol>
</p>

<% content_for :header_links do %>
  <div>
    <% if session[:logged_in] %>
      <em>Signed in as <%= session[:username] %>.</em>
      <form class="inline" method="post" action="/logout">
        <button type="submit">Sign Out</button>
      </form>
    <% else %>
      <form method="get" action="/login">
        <button type="submit">Sign In</button>
      </form>
    <% end %>
  </div>

  <a href="/game_list">All Games</a>
  <a href="/group_list">Groups</a>
<% end %>
