<h2>
  <%= @group.name %>
</h2>
<p>
  <%= @group.about %>
  <br>
  <% if session[:logged_in] && group_organizer?(@group.id, session[:player_id]) %>
    <a class="orange-link" href="/groups/<%= @group.id %>/schedule">&#128197; Schedule</a>
    <a class="orange-link" href="/groups/<%= @group.id %>/edit">&#128221; Edit Group</a>
  <% end %>
</p>

<h2>Upcoming Games</h2>
<ul id="red-list">
  <% @group_games.each do |game| %>
    <a href="/games/<%= game.id %>">
      <li>
        <h2><%= DAYS_OF_WEEK[game.start_time.wday] %>, <%= MONTHS[game.start_time.month - 1] %> <%= game.start_time.day %></h2>
        <p>
          &#128100; <%= game.filled_slots %> / <%= game.total_slots %>
        </p>
        <br>
        <%= game.location %>
        <br>
        <%= display_time(game) %>
    </li>
    </a>
  <% end %>
</ul>

<% if @storage.already_joined_group?(@group_id, session[:player_id]) %>
  <% unless group_organizer?(@group.id, session[:player_id])%>
    <form class="inline" method="post" action="/groups/<%= @group.id %>/leave">
      <button type="submit">Leave Group</button>
    </form>
  <% end %>
<% else %>
  <form class="inline" method="post" action="/groups/<%= @group.id %>/join">
    <button type="submit">Join Group</button>
  </form>
<% end %>

<h2>Members</h2>

<table>
  <tr>
    <% if session[:logged_in] && group_organizer?(@group.id, session[:player_id]) %>
      <th><!-- Remove player --></th>
    <% end %>

    <th>Member<th>

    <th><!-- Promote/Demote player --></th>
  </tr>

  <% @group_players.each do |player| %>
    <tr>
      <% if session[:logged_in] && group_organizer?(@group.id, session[:player_id]) %>
        <th>
          <form class="inline" method="post" action="/groups/<%= @group.id %>/players/<%= player.id %>/remove">
            <button type="submit">&#10060;</button>
          </form>
        </th>
      <% end %>

      <th>
        <a class="orange-link" href="/players/<%= player.id %>">
          <%= player.name %>
        </a>
      </th>

      <th>
        <% if session[:logged_in] && group_organizer?(@group.id, session[:player_id]) %>
          <% if player.is_organizer %>
            <form class="inline" method="post" action="/groups/<%= @group.id %>/players/<%= player.id %>/demote">
            <button type="submit">&#128081;</button>
          </form>
          <% else %>
            <form class="inline" method="post" action="/groups/<%= @group.id %>/players/<%= player.id %>/promote">
              <button type="submit">&#128100;</button>
            </form>
          <% end %>
        <% else %>
          <% if player.is_organizer %>
            &#128081;
          <% else %>
            &#128100;
          <% end %>
        <% end %>
      </th>
    </tr>
  <% end %>
</table>

