<h2>
  <%= @group.name %>
</h2>
<p>
  <%= @group.about %>

  <% if session[:logged_in] && game_organizer?(@group.id, session[:player_id]) %>
    <a class="orange-link" href="/groups/<%= @group.id %>/schedule">📅 Schedule</a>
  <% end %>
</p>

<h2>Upcoming Games</h2>
<ul id="red-list">
  <% @group_games.each do |game| %>
    <a href="/games/<%= game.id %>">
      <li>
        <h2><%= DAYS_OF_WEEK[game.start_time.wday] %>, <%= MONTHS[game.start_time.month - 1] %> <%= game.start_time.day %></h2>
        <p>
          <%= game.filled_slots %> / <%= game.total_slots %>
        </p>
        <br>
        <%= game.location_name %>
    </li>
    </a>
  <% end %>
</ul>

<h2>Members</h2>
<ol>
  <% @group_players.each do |player| %>
    <li>
      <a class="orange-link" href="/players/<%= player.id %>">
        <%= player.name %>
      </a>

      <% if player.is_organizer %>
        👑
      <% end %>
    </li>
  <% end %>
</ol>

<% content_for :login_links do %>
  <% if session[:logged_in] %>
    <em>&#128075;<%= session[:username] %></a></em>
    <form class="inline" method="post" action="/logout">
      <button type="submit">Sign Out</button>
    </form>
  <% else %>
    <form method="get" action="/login">
      <button type="submit">Sign In</button>
    </form>
  <% end %>
<% end %>

<% content_for :header_links do %>
  <a class="orange-link" href="/game_list">&#127992; All Games</a>
  <a class="orange-link" href="/group_list">&#128101; Groups</a>
<% end %>
