<a class="orange-link" href="/groups/<%= @group.id %>/schedule">&#128197; Back to Week View</a>

<h2>
  &#128198; <%= day_of_week_to_name(@day_of_week) %>
</h2>


<a class="orange-link" href="/groups/<%= @group.id %>/schedule/<%= @day_of_week %>/add">&#10133; Add Game</a>

<ul id="red-list">
  <% @games.each do |game| %>
    <a href="/games/<%= game.id %>">
      <li>
        <h2><%= DAYS_OF_WEEK[game.start_time.wday] %>, <%= MONTHS[game.start_time.month - 1] %> <%= game.start_time.day %></h2>
        <p>
          &#128100; <%= game.filled_slots %> / <%= game.total_slots %>
        </p>
        <br>
        <%= game.location %>
        <br>
        <%= display_time(game) %>
    </li>
    </a>
  <% end %>
</ul>

