<h2>
  <%= @group.name %>
</h2>

<a class="orange-link" href="/groups/<%= @group.id %>/schedule">📅 Back to Week View</a>

<h2>
  &#128198; Sunday
</h2>

<form action="/groups/<%= @group_id %>/schedule" method="post">
  <label for="sunday-hour-select">Start time:</label>

  <select name="sunday-hour" id="sunday-hour-select">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
  </select>

  <select name="sunday-am-pm" id="sunday-am-pm-select">
    <option value="am">AM</option>
    <option value="pm">PM</option>
  </select>

  <br>

  <label for="sunday-location">Location:</label>
  <input name="sunday-location" placeholder="Location name and address" type="text" value="">

  <label for="sunday-slots">Slots:</label>
  <input name="sunday-slots" placeholder="Number of total slots" type="text" value="">

  <label for="sunday-fee">Fee:</label>
  <input name="sunday-fee" placeholder="Cost per player in whole dollars" type="text" value="">

  <br>
  <label for="players-select">Add player:</label>

  <select name="players" id="players-select">
    <% @group_players.each do |player| %>
      <option value="<%= player.id %>"><%= player.name %></option>
    <% end %>
  </select>

  <br>

  <label for="anon-player">Add unregistered player:</label>
  <input name="anon-player" placeholder="Unregistered player name" type="text" value="">


</form>
