<h2>
  <%= @group.name %>
</h2>

<form action="/groups/<%= @group_id %>/schedule/edit" method="post">
  <div>
    <label for="notes">Game Notes:</label>
    <textarea name="notes" id="notes" rows="8" cols="33"><%= params[:notes] || @group.schedule_game_notes %></textarea>
  </div>

  <button type="submit" value="Save">Save</button>
</form>

<div>
  <ul id="red-list">
    <% 7.times do |day_of_week_num| %>
      <a href="/groups/<%= @group_id %>/schedule/<%= day_of_week_num %>">
        <li>
          <%= day_of_week_to_name(day_of_week_num) %>
        </li>
      </a>
    <% end %>
  </ul>
</div>

<form action="/groups/<%= @group_id %>/schedule/publish" method="post">
  <label for="publish_day_select">Next week schedule starts on</label>
  <select name="publish_day" id="publish_day_select">
    <option value="0"><%= DAYS_OF_WEEK[0] %></option>
    <option value="1"><%= DAYS_OF_WEEK[1] %></option>
    <option value="2"><%= DAYS_OF_WEEK[2] %></option>
    <option value="3"><%= DAYS_OF_WEEK[3] %></option>
    <option value="4"><%= DAYS_OF_WEEK[4] %></option>
    <option value="5"><%= DAYS_OF_WEEK[5] %></option>
    <option value="6"><%= DAYS_OF_WEEK[6] %></option>
  </select>

  <button type="submit" value="Publish">Publish Scheduled Games</button>
</form>
