<h2>
  <%= @group.name %>
</h2>

<form action="/groups/<%= @group_id %>/schedule/edit" method="post">
  <div>
    <label for="notes">Game Notes:</label>
    <textarea name="notes" id="notes" rows="8" cols="33"><%= params[:notes] || @group.schedule_game_notes %></textarea>
  </div>

  <button type="submit" value="Save">Save</button>
</form>

<div>
  <ul id="red-list">
    <% 7.times do |day_of_week_num| %>
      <a href="/groups/<%= @group_id %>/schedule/<%= day_of_week_num %>">
        <li>
          <%= day_of_week_to_name(day_of_week_num) %>
        </li>
      </a>
    <% end %>
  </ul>
</div>

<form action="/groups/<%= @group_id %>/schedule/publish" method="post">
  <label for="day_of_week_select">Next week schedule starts on</label>
  <select name="day_of_week" id="day_of_week_select">
    <% (0...TimeDate::DAYS_OF_WEEK.size).each do |day| %>
      <option value="<%= day %>"><%= TimeDate::DAYS_OF_WEEK[day] %></option>
    <% end %>
  </select>

  <button type="submit" value="Publish">Publish Scheduled Games</button>
</form>
