<h2>
  <%= @group.name %>
</h2>

<form action="/groups/<%= @group_id %>/schedule/edit" method="post">
  <div>
    <label for="notes">Game Notes:</label>
    <textarea name="notes" id="notes" rows="8" cols="33"><%= params[:notes] || @group.schedule_game_notes %></textarea>
  </div>

  <button type="submit" value="Save">Save</button>
</form>

<div>
  <ul id="red-list">
    <% 7.times do |day_of_week_num| %>
      <a href="/groups/<%= @group_id %>/schedule/<%= day_of_week_num %>">
        <li>
          <%= day_of_week_to_name(day_of_week_num) %>
        </li>
      </a>
    <% end %>
  </ul>
</div>
