<h2>
  <%= @group.name %>
</h2>

<form action="/groups/<%= @group_id %>/schedule/edit" method="post">
  <div>
    <label for="notes">Game Notes:</label>
    <textarea name="notes" id="notes" rows="8" cols="33"><%= params[:notes] || @group.schedule_game_notes %></textarea>
  </div>

  <button type="submit" value="Save">Save</button>
</form>

<div>
  <ul id="red-list">
    <a href="/groups/<%= @group_id %>/schedule/sunday">
      <li>
        Sunday
      </li>
    </a>

    <a href="/groups/<%= @group_id %>/schedule/monday">
      <li>
        Monday
      </li>
    </a>
  </ul>
</div>
