<!doctype html>
<html lang="en-US">
  <head>
    <title>🏸Badminton Buddies</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=PT+Sans">
    <link rel="stylesheet" href="/stylesheets/whitespace-reset.css">
    <link rel="stylesheet" href="/stylesheets/application.css">
  </head>

  <body>
    <header>
      <div class="hero">
        <h1>Badminton Buddies</h1>
      </div>

      <div class="account">
        <% if session[:logged_in] %>
          <em>&#128075;<%= session[:username] %></a></em>
          <form class="inline" method="post" action="/logout">
            <button type="submit">Sign Out</button>
          </form>
        <% else %>
          <form method="get" action="/login">
            <button type="submit">Sign In</button>
          </form>
        <% end %>
      </div>

      <nav>
        <ul>
          <li>
            <a class="orange-link" href="/game_list">&#127992; Games</a>
          </li>

          <li>
            <a class="orange-link" href="/group_list">&#128101; Groups</a>
          </li>

          <% if session[:logged_in] %>
            <li>
              <a class="orange-link" href="/players/<%= session[:player_id] %>">&#128100; Profile</a>
            </li>
          <% end %>
        </ul>
      </nav>

      <% if session[:error] %>
        <div class="flash error">
          <p><%= session.delete(:error) %></p>
        </div>
      <% end %>

      <% if session[:success] %>
        <div class="flash success">
          <%= session.delete(:success) %>
        </div>
      <% end %>
    </header>

    <main>
      <%== yield %>
    </main>

    <footer>
      Made by <a class="orange-link" href="https://github.com/PeterSHua">Peter Hua</a>
    </footer>

  </body>

  <script src="/javascript/bad_buds.js"></script>
</html>
