<form action="/players/<%= @player_id %>/edit" method="post">
  <div>
    <label for="name">Name:</label>
    <input name="name" placeholder="Name" type="text" value="<%= @player.name || params[:name] %>">

    <label for="rating_select">Rating:</label>
    <select name="rating" id="rating_select">
      <% (1..MAX_RATING).each do |rating| %>
        <option value="<%= rating  %>" <%= select_rating(rating) %>><%= rating %></option>
      <% end %>
    </select>

    <br>

    <label for="about">About:</label>
    <textarea name="about" id="about" rows="8" cols="33"><%= params[:about] || @player.about %></textarea>
  </div>

  <div>
    <label for="password">New Password:</label>
    <input name="password" type="password" class="inline">
    <br>
    Cannot contain spaces and must be between 4-10 characters.
  </div>

  <button type="submit" value="Save">Save</button>
</form>
